#Ignore all files and folders.
/*

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
![Aa]ssets/
![Pp]ackages/
![Pp]rojectSettings/
!.gitignore
!.gitattributes
!README.md
